@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/kaushan-script';
@import '@fontsource/sirin-stencil';
@import './reset.css';

/* BASE STYLES */
@layer base {
  body {
    @apply font-sirin text-white bg-white;
  }
  h1 {
    @apply font-kaushan text-big_mobile md:text-big_tablet lg:text-big_desktop drop-shadow-text;
  }
  h2 {
    @apply font-sirin text-xl font-medium drop-shadow-text capitalize;
  }
  h3 {
  }
  h4 {
  }
  p {
  }
  .p_small {
  }
  a {
  }
  button {
  }
  .bg-style {
    @apply bg-cover bg-no-repeat bg-center;
  }
  .sb {
    @apply border border-red-500;
  }

  .container {
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 1320px;
  }

  @media (min-width: 960px) {
    .container {
      width: calc(100% - 160px);
    }
  }

  @media (min-width: 1440px) {
    .container {
      width: calc(100% - 180px);
    }
  }
}

/* CUSTOM COMPONENT STYLES */
@layer components {
  .btn-navbar {
    @apply bg-white bg-opacity-60 text-body text-base font-semibold uppercase h-10 w-48 lg:w-60 flex items-center justify-center btn-clip;
  }
}

/* CUSTOM UTILITIES STYLES */
@layer utilities {
  .btn-clip {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  }
}
